.importSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ImportContainer {
  display: flex;
  justify-content: space-between;
}

.InputImport {
  width: calc(100% - 1rem);
  height: 50px;
  margin-top: 10px;
  padding: 0 0 0 1rem;
  border: 1px solid #ddd;
  border-radius: 0;
  font-size: 18px;
}

.ButtonImport {
  width: 150px;
  background-color: #ddd;
  border-radius: 0;
}

.LabelImport {
  line-height: 2;
  font-size: 24px;
  font-weight: bold;
}

